<!-- start custom head snippets -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2558730816582150"
  crossorigin="anonymous"
></script>

<!-- 컨텐츠 양이 충분함에도 실패시 양식 변경 -->
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2558730816582150",
          enable_page_level_ads: true
     });
</script> -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
