/* ==========================================================================
   custom skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #0092ca !default; //#0092ca default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393e46 !default; //#393e46 default
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: #eb6363 !default; //$text-color
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default; //#fff

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

// --pointcolor: #eb6363;
// --backgroundcolor: #595757;
