/* ==========================================================================
   custom2 skin
   ========================================================================== */

/* Colors */
$gray: #595757 !default;
$dark-gray: mix(#000, $gray, 40%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#d4d4d4, $gray, 90%) !default; //#fff

$body-color: #fff !default;
$background-color: #ffffff !default; //#eeeeee
$code-background-color: #eb63635b !default; //$lighter-gray
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$border-color: $lighter-gray !default;
$footer-background-color: #c1dbfc !default;

$primary-color: $gray !default; //$gray
$success-color: #27ae60 !default;
$warning-color: #e67e22 !default;
$danger-color: #c0392b !default;
$info-color: #393e46 !default; //#393e46

/* links */
$link-color: #384c6b !default; //$info-color
$link-color-hover: mix(#000, #eb6363, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 25%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, #eb6363, 25%) !default;

/* notices */
$notice-background-mix: 90% !default; //90%
$code-notice-background-mix: 95% !default;

// --pointcolor: #eb6363;
// --backgroundcolor: #595757;
